## Tuples ()
- Tuples are used to store multiple items in a single variable
- we cannot change the elements of a tuple once it is assigned where is we can change the element of a list.
- tuples are ordered, unchangeable, and allow duplicate values.

In [5]:
# Creating a tuple

my_tuple = (1,2,3)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3)
<class 'tuple'>

### Mixed data type

In [3]:
my_tuple = (1,"hello",3.2,4+5J)
print(my_tuple)

(1, 'hello', 3.2, (4+5j))

### Empty tuple

In [4]:
my_tuple = ()
print(my_tuple)
print(type(my_tuple))

()
<class 'tuple'>

### Nested tuple

In [5]:
a = ('data', [1,2,3],(4,5,6))    # (str, list, tuple)
print(a)
print(type(a))

('data', [1, 2, 3], (4, 5, 6))
<class 'tuple'>

### creating a tuple with only one item

In [1]:
var1= ('hello',)      # ('hello',) will show the type tuple
print(var1)
print(type(var1))

('hello',)
<class 'tuple'>

### Tuple costructor

In [7]:
a = tuple(('a','b','c'))
print(a)
print(type(a))

('a', 'b', 'c')
<class 'tuple'>

### Indexing

In [8]:
a = (47,48,45,46,48,4,8)
print(a[5])

4

In [9]:
a = (47,48,45,46,48,4,8,'data','python')
print(a[7])

data

In [10]:
a = (47,48,45,46,48,4,8)
print(a[-1])

8

### Slicing

In [12]:
a = (47,48,45,46,48,45,45,86,25,78,35,49,81,80,60)
len(a)
print(a[0:7])

(47, 48, 45, 46, 48, 45, 45)

In [13]:
a = (47,48,45,46,48,45,45,86,25,78,35,49,81,80,60)
print(a[:9])         # it automatically takes from 0 to 9 index

(47, 48, 45, 46, 48, 45, 45, 86, 25)

In [14]:
a = (47,48,45,46,48,45,45,86,25,78,35,49,81,80,60)
print(a[:])        # it will print as it is

(47, 48, 45, 46, 48, 45, 45, 86, 25, 78, 35, 49, 81, 80, 60)

In [15]:
a = (47,48,45,46,48,45,45,86,25,78,35,49,81,80,60)
print(a[::2])       # to show the gaping between the tuple

(47, 45, 48, 45, 25, 35, 81, 60)

### reverse tuple

In [18]:
a = (47,48,45,46,48,45,45,86,25,78,35,49,81,80,60)
print(a[::-1])

(60, 80, 81, 49, 35, 78, 25, 86, 45, 45, 48, 46, 45, 48, 47)

In [19]:
t = (1,2,3,4,5,6,7,8)
print(t[::])

(1, 2, 3, 4, 5, 6, 7, 8)

In [20]:
t = (1,2,3,4,5,6,7,8)
print(t[3:])

(4, 5, 6, 7, 8)

In [27]:
t = (1,2,3,4,5,6,7,8)
print(t[-2:-5])

()

In [29]:
t = (1,2,3,4,2,5,6,5,7,5,8)
print(t)
print(type(t))

(1, 2, 3, 4, 2, 5, 6, 5, 7, 5, 8)
<class 'tuple'>

### convert tuple into list

In [34]:
a = (25,26,27,28,29)
y = list(a)     # convert into list
y.append(30)    # add itme into list
a = tuple(y)    # convert into tuple
print(a)
print(type(a))

(25, 26, 27, 28, 29, 30)
<class 'tuple'>

In [35]:
# to remove itmes from list

a = (25,26,27,28,29)
y = list(a)     # convert into list
y.remove(27)    # remove itme from list
a = tuple(y)    # convert into tuple
print(a)
print(type(a))

(25, 26, 28, 29)
<class 'tuple'>

In [36]:
n = (1,2,3,4,5,6,7,8,9)
del n        # it deletes full tuple and when you print, it shows error

In [37]:
print(n)    # tuple was deleted in previous code so it shows error

NameError: name 'n' is not defined

### Loop

In [38]:
thistuple = ('a','b','c')
for x in thistuple:
    print(x)

a
b
c

In [39]:
# Join two tuples

tuple1 = ('a','b','c')
tuple2 = (1,2,3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [41]:
# Multiply tuple

a = ('apple','data','python')
b = a*3
print(b)

('apple', 'data', 'python', 'apple', 'data', 'python', 'apple', 'data', 'python')

In [42]:
t = (1,2,3,4,5,6,7,8)
print(t*2)
print(t+t+t)
print(t+t)
print(len(t))

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
8

In [43]:
#

('k', 'a', 'r', 'a', 'n')
<class 'tuple'>

In [44]:
# Write a program, to take 5 inputs from the user and store it in a tuple

t = ()
i = 0
while i<=5:
    num = int(input('enter the number'))
    t = t + (num,)
    i = i + 1
    print(t)

(20,)
(20, 30)
(20, 30, 40)
(20, 30, 40, 50)
(20, 30, 40, 50, 60)
(20, 30, 40, 50, 60, 60)