## Sets {'a','b'} or {1,2,3}
- A set can be thought of simply as a well-defined collection of distinct objects, typically called elements or members. Groupping objects into a set can be useful in programming as well, and Python provides a built-in set type to do so.
- Set are used to store multiple items in a single variable.
- A set is a collection which is unordered, unchangeable, and unindexed.
- it's Mutable, slicing not allow, duplicate not allow.

In [20]:
# creating a set

a = {'animals', 'ball', 'cat'}
print(a)
print(type(a))

{'animals', 'cat', 'ball'}
<class 'set'>

In [21]:
# set items are unordered

a = {'animals', 'ball', 'cat'}
print(a[0])                        # Error bcz ordering is not allowed

TypeError: 'set' object is not subscriptable

In [3]:
# duplicates not allowed

a = {'animals', 'ball', 'cat','animals','ball', 'ball'}
print(a)

{'animals', 'cat', 'ball'}

### True and 1 is consider the same value

In [4]:
a = {'animals', 'ball', 'cat','animals','ball', 'ball',1,2,3,True}
print(a)

{1, 2, 3, 'animals', 'ball', 'cat'}

In [5]:
# get the length of a set

a = {'animals', 'ball', 'cat','animals','ball', 'ball',1,2,3,True}
print(a)
print(len(a))

# it will not count duplicate values

{1, 2, 3, 'animals', 'ball', 'cat'}
6

## Set items - Data Types

In [6]:
x1 = {1,2,3,5}
x2 = {1.2,2.3,3.1,4.5}
x3 = {'a', 'b', 'c'}
x4 = {True,False,True}
print(x1,x2,x3,x4)

{1, 2, 3, 5} {1.2, 2.3, 3.1, 4.5} {'a', 'c', 'b'} {False, True}

In [7]:
a = {1,2,-5,2.1,2.3,6+3j, 'apple', True}
print(a)

{1, 2, 2.1, 2.3, -5, 'apple', (6+3j)}

In [8]:
# can not add a list into sets bcz list are ordered and mutable (unhashable object)

x5 = {[1,2,3,4]}
print(x5)

TypeError: unhashable type: 'list'

In [9]:
# it will add tuple bcz tuple is also immutable and unordered (hashable object)
x5 = {(1,2,3,6)}
print(x5)

{(1, 2, 3, 6)}

In [10]:
# it will not add dictionary bcz it is also mutable (unhashable object)
x6 ={{'a:1', 'b:2'}}
print(a)

TypeError: unhashable type: 'set'

In [11]:
# nesting is also not possible in sets bcz sets into sets is not possible bcz sets are unordered
a = {{1,2,3},{4,5,6}}
print(a)

TypeError: unhashable type: 'set'

## The Set() Constructor to create set

In [12]:
thisset = set(('alpha','beta','gamma'))
print(thisset)
print(type(thisset))

{'alpha', 'beta', 'gamma'}
<class 'set'>

## creating empty Set

In [2]:
a = {}
print(a)
print(type(a))   # this will not create empty set, this will give you type 'dict'

{}
<class 'dict'>

In [3]:
# create empty Set

x = set()  
print(x)
print(type(x))

set()
<class 'set'>

## Access items

In [4]:
a = {'a','b','c','d'}
for x in a:
    print(x)

c
a
b
d

## check if item is present in the set

In [5]:
a = {'data','python','code'}
print('code' in a)  # to check item in present set, if present then it show (True) if not then will show (False)

True

## How to add items

In [6]:
a = {'a','b','c','d'}
a.add(100)
print(a)

{'c', 100, 'a', 'b', 'd'}

## combine two sets with (update method)

In [9]:
set1 = {'data','python','code'}
set2 = {10,20,30,40,50,60,70}

set1.update(set2)
print(set1)

{'code', 'data', 70, 40, 10, 50, 20, 'python', 60, 30}

## remove set items

In [10]:
n = {'code', 'data', 70, 40, 10, 50, 20, 'python', 60, 30}
n.remove(40)
print(n)

{'code', 'data', 70, 10, 50, 20, 'python', 60, 30}

In [11]:
n = {'code', 'data', 70, 40, 10, 50, 20, 'python', 60, 30}
n.remove('python')
print(n)

{'code', 'data', 70, 40, 10, 50, 20, 60, 30}

## to remove random item from set with (pop method)

In [14]:
t = {'code', 'data', 70, 40, 10, 50, 20, 'python', 60, 30}
t.pop()
print(t)

{'data', 70, 40, 10, 50, 20, 'python', 60, 30}

## for clear set

In [16]:
t = {'code', 'data', 70, 40, 10, 50, 20, 'python', 60, 30}
t.clear()
print(t)

set()

## Delete key word will delete all set from memory

In [28]:
r = {'apple', 'mango', 7, 4, 10, 5, 20, 'banana', 6, 30}
del r

## Join two sets with (union function)

In [31]:
x = {'a','b','c'}
y = {1,2,3}
z = x.union(y)
print(z)

{'c', 'a', 'b', 1, 2, 3}

### write a python program to find the max and min values

In [34]:
set = {5,10,3,15,2,20}
print('original set element')
print(set)
print('maximum value of set is:-', max(set))    # 1st method
#print(max(set))                                # 2nd method
print('minimum value of set is:-', min(set))
#print(min(set))

original set element
{2, 3, 20, 5, 10, 15}
maximum value of set is:- 20
minimum value of set is:- 2

## Return a new set of identical items from two sets

In [35]:
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}

print(set1.intersection(set2))    # common items from two sets

{40, 50, 30}

## Q. create a set and convert into list and tuple and use len, min, max functions