In [ ]:
num1= int(input("enter first number"))
num2= int(input("enter second number"))
print(num1+num2)


# Karan Singh

In [ ]:
num = (input("enter a number"))
num = float(num)
type(num)

In [ ]:
num = int(input("enter the number"))
print(num)

In [ ]:
cha = (input("enter a name"))
print(cha)

In [ ]:
"""hello world"""

In [ ]:
x = 1 
y = 1
if(x = 1 and y = 1):
    print("they are equal")

In [ ]:
movies = []
movies.append(input("enter 1st movie"))
movies.append(input("enter 2nd movie"))
movies.append(input("enter 3rd movie"))
print(movies)

In [ ]:
grade = ("C", "D", "A", "A","B", "B", "A")
print(grade.count("A"))

In [ ]:
grade = ["C", "D", "A", "A","B", "B", "A"]
grade.sort()
print(grade)

### dictionary

In [1]:
info = {
    "key" : "value",
    "name" : "apnacollege",
    "learning" : "coding",
    "age" : 35,
    "is_adult" : True,
    "marks" : 94.4
}
# print("info")
print(info["key"])
print(info["learning"])

value
coding

In [ ]:
info = {
    "key" : "value",
    "name" : "apnacollege",
    "learning" : "coding",
    "age" : 35,
    "is_adult" : True,
    "marks" : 94.4
}
info["name"] = "karan"
print(info)

In [ ]:
word_meanings = {
    "table" : [" a piece of furniture","list of facts and figures"],
    "cat" : "a small animal"
}
print(word_meanings)
print(type(word_meanings))

In [ ]:
subjects = {
    "pythob", "java", "c++", "python", "javascript",
    "java","python", "java", "c++", "c"
}
print(subjects)
print(type(subjects))

In [ ]:
marks = {}

x = int(input("enter hindi marks :"))
marks.update({"hindi" : x})

x = int(input("enter english marks :"))
marks.update({"english" : x})

x = int(input("enter science marks :"))
marks.update({"science" : x})

print(marks)
print(type(marks))

### Loops
#### While Loops

In [ ]:
count = 1
while count <= 5 :   ## while condition
    print(count, "hello")
    count += 1

In [ ]:
num = 1     ### print numbers 1 to 100
while num <= 100:
    print(num)
    num += 1

In [ ]:
num = 100        ### print numbers 100 to 1
while num >= 1:
    print(num)
    num -= 1

In [ ]:
n = int(input("enter any number"))
i = 1            ### table
while i <= 10:
    print(n*i)
    i += 1

In [ ]:
nums = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
idx = 0               ### print the element of list using loops
while idx < len(nums):
    print(nums[idx])
    idx += 1

In [ ]:
nums = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
x = 64
i = 0
while i < len(nums):
    if(nums[i] == x):
        print("Found at idx", i)
    i += 1

### (For) Loop

In [ ]:
list = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
for num in list:
    print(num)

In [ ]:
tup = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
x = 25
idx = 0
for i in tup:
    if(i == x):
        print("number found", idx, i)
    idx += 1

In [ ]:
n = int(input("enter a number :"))
for i in range(1, 11):
    print(n * i)

In [ ]:
n = 5
sum = 0
for i in range(1, n+1):
    sum += i
print("total sum = ", sum)

### Function

In [ ]:
def calc_sum(a, b):
    sum = a + b
    print(sum)
    return sum


calc_sum(5, 10)



calc_sum(3,23)


calc_sum(4, 6)

In [ ]:
def calc_sum(a, b, c):
    sum = a + b + c
    avg = sum / 3
    print(avg)
    return(avg)


calc_sum(2, 6, 8)

In [ ]:
## Program to print the length of list

cities = ["delhi", "gurgaon", "noida", "pune", "mumbai", "chennai"]
heroes = ["thor", "ironman", "caprin america", "shaktiman"]

def print_len(list):
    print(len(list))

print_len(cities)
print_len(heroes)

In [ ]:
## Progam to print the elements of a list in a single line

cities = ["delhi", "gurgaon", "noida", "pune", "mumbai", "chennai"]
heroes = ["thor", "ironman", "caprin america", "shaktiman"]

def print_len(list):
    print(len(list))

def print_list(list):
    for item in list:
        print(item, end = " ")

print_list(cities) 
print_list(heroes)

In [ ]:
## Program to find the factorial of n. (n is the parameter)

def calc_fact(n):
#n = 5
    fact = 1
    for i in range(1, n+1):
        fact *=i
    print(fact)

calc_fact(8)

In [ ]:
## recursive function

def show(n):
    if n == 0: ### its known as (base case)
        return
    print(n)
    show(n - 1)

show(6)

### While Loop

In [7]:
i = 6
while i >= 0:
    print(i)
    i -= 1
print("end loop")

6
5
4
3
2
1
0
end loop

In [12]:
i = 1
while i <= 100:
    print(i)
    i += 2
print("end loop")

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
end loop

In [11]:
i = 100
while i >= 1:
    print(i)
    i -= 1
print("end loop")

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
end loop

In [1]:
n = int(input("enter a number"))
i = 1
print("Table of =", n)
print()
while i <= 10:
    print(n, "x", i, "=", n * i )
    i += 1

Table of = 18

18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180

In [2]:
nums = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100 ]
idx = 0
while idx < len(nums):
    print(idx )
    idx +=1

0
1
2
3
4
5
6
7
8
9

In [4]:
heroes = ["ironman", "thor", "superman", "batman"]
idx = 0
while idx < len(heroes):
    print(heroes[idx])
    idx += 1

ironman
thor
superman
batman

In [6]:
num = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
x = int(input("enter any number"))
i = 0
while i < len(num):
    if num[i] == x:
        print("found at idx =", i)
    i += 1

found at idx = 3

In [7]:
nums = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100 ]
for i in nums:
    print(i)

1
4
9
16
25
36
49
64
81
100

In [15]:
veg = ["ladyfinger", "potato", "tomato", "onion"]
for i in veg:
    print(i)

ladyfinger
potato
tomato
onion

In [16]:
str = "digipodium"
for i in str:
    print(i)

d
i
g
i
p
o
d
i
u
m

In [3]:
nums = [1, 2, 3, 4, 5, 6, 7, 8]
for i in nums:
    if i == 5:
        print(i, "found")
        break
    print(i)
print("end")

1
2
3
4
5 found
end

In [8]:
num, i, sum, = 5, 2, 0
if i <= num:
    print("match")
    sum += 1
    i += 1

match

In [1]:
 # program to display numbers from 1 to 5

i = 1
n = 5
while i < n:
    print(i)
    i = i + 1

1
2
3
4